// Status
$success: #69af00;
$info: #3427e1;
$warning: #e6890f;
$error: #e80a0a;

// Colors
$link: blue;
$cherry: #a62d2d;
$ok-button: #5893b9;
$nice-blue: #4779d6;

// Light Colors
$white: #ffffff;
$light: #fefefe;
$soft-light: #fffcfc;
$salmon: #f8dcdc;
$ash-white: #f1e8e8;
$ash-gray: #807C7C;
$ash-white: #f1e8e8;
$light-grey: #eaebee;
$grey-light: #eee;
$tint-light: #fcf7f2;
$white-grey: #eae9e9;
$grey: #a7a7a7;
$primary: rgb(170, 167, 167);
$slate-gray: #778;

// Dark Colors
$black: #000;
$dark: #151515;
$grey-dark: #363636;
$dark-grey: #444444;
$dark-board: #3e0d02;
