.category-management {
    display: flex;

    &__mainbox {
        display: flex;
        flex-direction: column;
        width: 535px;
        height: 356px;
        margin-left: 2rem;
        background: #ffffff;
        border: 2px solid #f1e8e8;
        border-radius: 15px;

        &__title {
            display: flex;
            margin: 1rem;

            h2 {
                color: #807C7C;
                font-size: 1.5rem;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__headers {
                display: flex;
                justify-content: space-between;
                width: 420px;
                margin-top: 1rem;

                &__label {
                    h2 {
                        font-size: 1.2rem;
                        color: #7A7474;
                    }
                }
            }

            &__rows {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 200px;
                overflow-y: scroll;
                overflow-x: hidden;
                width: 90%;

                &-element {
                    display: flex;
                    width: 95%;
                    align-items: center;
                    background: #fffcfc;
                    border-radius: 5px;
                    margin-top: 0.5rem;
                    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);

                    &__label {
                        display: flex;
                        width: 70%;
                        margin-left: 2rem;
                    }

                    &__actions {
                        display: flex;

                        i {
                            margin-left: 1rem;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &__options {
            display: flex;
            width: 95%;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__add-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            margin-bottom: 10px;
        }
        
    }
}