@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.add-edit-product-details {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    padding: 1rem;
    background: $white;
    border: 2px solid $ash-white;
    border-radius: 15px;
    width: 500px;
    min-width: 300px;

    &__title {
        display: flex;
        margin-bottom: 20px;        
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

}